* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:visited {
    text-decoration: none;
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
button {
  transition: 0.2s;
}

nav,
footer,
header,
aside,
section,
main {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  line-height: 1;
  font-size: 100%;
  text-rendering: optimizeSpeed;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  color: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
